{% if response.status %}
  {% if request.vacancy %}
    <h3>На Ваш запрос "{{ request.vacancy.name }}" пришел положительный ответ</h3>
  {% else %}
    <h3>На Ваш запрос "{{ request.rent.name }}" пришел положительный ответ</h3>
  {% endif %}
{% else %}
  {% if request.vacancy %}
    <h3>На Ваш запрос "{{ request.vacancy.name }}" пришел отрицательный ответ</h3>
  {% else %}
    <h3>На Ваш запрос "{{ request.rent.name }}" пришел отрицательный ответ</h3>
  {% endif %}
{% endif %}

<div>
  <p>
    id ответа: {{ response.id }}
  </p>
  <p>
    {% if request.vacancy %}
      Вакансия: {{ request.vacancy.name }}
    {% else %}
      Аренда: {{ request.rent.name }}
    {% endif %}
  </p>
</div>

<div>
  <br />
  <h3>Служба поддержки, www.cinemaway.ru</h3>
  <p><a␣href="http://cinemawy.ru/">http://cinemaway.ru/</a></p>
  <p><a␣href="mailto:support@cinemaway.ru">support@cinemaway.ru</a></p>
</div>
