<h3>Вы отправили запрос на сайте cinemaway</h3>

<div>
  <p>
    id Вашего запроса: {{ id }}
  </p>
  <p>
    {% if request.vacancy %}
      Вакансия: {{ request.vacancy.name }}
    {% else %}
      Аренда: {{ request.rent.name }}
    {% endif %}
  </p>
</div>

<p>Мы отправили уведомление всем участникам запроса, пожалуста дождитесь
ответа</p>

<div>
  <br />
  <h3>Служба поддержки, www.cinemaway.ru</h3>
  <p><a␣href="http://cinemawy.ru/">http://cinemaway.ru/</a></p>
  <p><a␣href="mailto:support@cinemaway.ru">support@cinemaway.ru</a></p>
</div>
